// ! Header color
$header-bg-color: #FFFFFF;
$header-text-color: #0682F9;

// ! Main color
$main-bd-color: #1C1C1C;
$main-text-color: #FFFEF9;
$main-bg-current: #0182F9;

// ! Footer color
$footer-bt-bg-color: #303030;
$footer-text-color: #FFFEF9;
$footer-text-list-color: #6A7471;
$footer-border-color: #1879E5;
$footer-bottom-text: #1377D1